{#
/**
 * @file information_commerce.html.twig
 * Default theme implementation to present Information commerce entity data.
 *
 * This template is used when viewing Information commerce entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_information_commerce()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('information_commerce') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
