{% if steps %}
<div class="cfp-user-register-breadcrumb">
  <h2>Breadcrumb</h2>
  <ul class="cfp-user-register-breadcrumb__list">
    {% for step in steps %}
      {% if step.current %}
      <li class="cfp-user-register-breadcrumb__list__step current"><b>{{ step.title }}</b></li>
      {% else %}
      <li class="cfp-user-register-breadcrumb__list__step">{{ step.title }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
